name: Sync Repository to GitLab

on:
  push

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
    - name: Sync to GitLab
      uses: actions/checkout@v4
      with:
        gitlab_url: ${{ secrets.GIT_LAB_URL }}
        username: ${{ secrets.GIT_LAB_USER }}
        gitlab_pat: ${{ secrets.GIT_LAB_PAT }}
